<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <main>
    <form action="/" method="POST">
      <input type="text" name="search" placeholder="Search..." value="search">
      <input type="submit" value="Search" id="button">
    </form>

<% companyData.forEach(data=> { %>

  <%=data.name%>
  <%=data.symbol%>
  <%=data.price%>
  <%=data.sector%>
  <%=data.beta%>
  <%=data.description%>
  <%=data.image%>

<% }) %>
   
  </main>
  
</body>
</html>