<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>
<body>
  <div class="container">
    <%- include('../layout/header') %>
    <main>
      <% companyArray.forEach(company => { %>
      <% if (company.image) { %>
      <img src="<%= company.image %>" />
      <% } %>
      <h2><%= company.name %> </h2>
      <h3><%= company.description %> </h3>
      <h4><%= company.price %> </h4>
      <h3><%= company.sector %> </h3>
      <p><%= company.ceo %> </p>
      <% }) %>
    </main>
    <%- include('../layout/footer') %>
  </div>
</body>
</html>